extends /layout/_application
block body
  div.wrapper
    h1.ttl モック置き場
    include /include/pages/_socialNetwork
    div.menu_container
      ul.menu
        li.link(data-link="socialNetwork")
          button ソーシャルネットワークの<br>タイトルバック
