extends /layout/_application
block body
  div.wrapper
    h1.ttl.killGothic モックおきば
    include /include/pages/_socialNetwork
    include /include/pages/_opacityGradient
    div.menu_container
      h2.ttl.killGothic
        a(href="./") モックおきば
      ul.menu
        li.link(data-link="socialNetwork")
          button ソーシャルネットワークの<br>タイトルバック
        li.link(data-link="opacityGradient")
          button 透過グラデーション
