extends /layout/_application
block body
  div.wrapper
    h1.ttl.killGothic モックおきば
    include /include/pages/_socialNetwork
    div.menu_container
      h2.ttl.killGothic
        a(href="./") モックおきば
      ul.menu
        li.link(data-link="socialNetwork")
          button ソーシャルネットワークの<br>タイトルバック
        li.link(data-link="glsl")
          button GLSL習作 その1
